In [2]:
# import libraries for data manipulation and visualization
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# load the cleaned titanic dataset
df = pd.read_csv("cleaned_titanic.csv")

# Display the first few rows of the dataset
df.head()

   pclass  survived     sex  age  fare embarked
0       1         1  female   29   211        S
1       1         1    male    1   152        S
2       1         0  female    2   152        S
3       1         0    male   30   152        S
4       1         0  female   25   152        S

In [5]:
# check for any missing data
df.isnull().sum()

pclass      0
survived    0
sex         0
age         0
fare        0
embarked    0
dtype: int64

In [6]:
# check and display the structure of the data
print(df.info())

# Generate summary statistics for numerical cols
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092 entries, 0 to 1091
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1092 non-null   int64
 1   survived  1092 non-null   int64
 2   sex       1092 non-null   object
 3   age       1092 non-null   int64
 4   fare      1092 non-null   int64
 5   embarked  1092 non-null   object
dtypes: int64(4), object(2)
memory usage: 51.3+ KB
None
            pclass     survived          age         fare
count  1092.000000  1092.000000  1092.000000  1092.000000
mean      2.213370     0.422161    29.966117    36.812271
std       0.860203     0.494130    13.985777    55.456629
min       1.000000     0.000000     1.000000     0.000000
25%       1.000000     0.000000    22.000000     8.000000
50%       2.000000     0.000000    28.000000    16.000000
75%       3.000000     1.000000    39.000000    36.250000
max       3.000000     1.000000    80.000000   512.000000